<%= form_for trip do |f|%>
  <p><%= f.label :title %>
    <%= f.text_field :title %></p>
  <p><%= f.label :start_date %>
    <%= f.date_field :start_date %></p>
  <p><%= f.label :end_date %>
    <%= f.date_field :end_date %></p>
  <p><%= f.label :total_guests %>
    <%= f.number_field :total_guests %></p>
  <p><%= f.label :budget %>
    <%= f.number_field :budget %></p>
  <p><%= f.hidden_field :user_id, value: current_user.id  %></p>

  <button type="submit" class="submit-trip-btn">Submit</button>

<% end %>
