<p>
<strong><%= @trip.title %></strong><br>
<%= @trip.start_date.strftime("%A, %b %d, %Y")%> - <%= @trip.end_date.strftime("%A, %b %d, %Y") %><br>

Duration: <%= @trip.duration %> days<br>
</p>


Tags: <% @trip.tags.uniq.each do |tag| %>
      <li><%= tag.name %></li>
      <%end%>
<!-- maybe we should make each tag a link, the user can see all trips with same tag -->
<br>
<small>Trip created on <%= @trip.created_at.strftime("%A, %d %b %Y")%></small>
