<p>
<div style="text-align:center";>
<strong><%= @trip.title %></strong><br>
<%= @trip.start_date.strftime("%A, %b %d, %Y")%> - <%= @trip.end_date.strftime("%A, %b %d, %Y") %><br>

Duration: <%= @trip.duration %> days<br>
</p>




<small>Trip created on <%= @trip.created_at.strftime("%A, %d %b %Y")%></small></div>
