<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi!
    <p>
      Your friend <%= @sender %> thought you might be interested in the itinerary for this trip:<br>
      <h2><%= @trip.title %></h2>
      <%= @trip.start_date.strftime("%A, %b %d, %Y")%> - <%= @trip.end_date.strftime("%A, %b %d, %Y")%>
      <br>
      Duration: <%= @trip.duration %> days
    <h3>Destinations:</h3>
    <% @trip.destinations.each do |destination|%>
     <%= destination.city%><br>
    <%end%>
    <h3>Activities planned:</h3>
    <% @trip.activities.each do |activity|%>
     <%= link_to activity.name, activity.link, style: 'text-decoration:none; color: black' %>
    <br>
    <%end%>

    </p>
  </body>
</html>