<%= form_for packing_list, :url => url_for(:controller => 'packing_lists', :action => 'create') do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>
  <%= f.hidden_field :trip_id, value: trip.id%>
  <%= f.submit %>
<% end %>