
<h2><%=@user.first_name%> <%=@user.last_name%></h2>

<p>Upcoming Trips: <%=@user.upcoming_trips.count%></p>

<p>Past Trips: <%=@user.past_trips.count%></p>

<h3>My Trips </h3>
<p>(Click to change your trip!)</p>
<% @user.trips.each do |trip| %>
  <button class="trip-btn"><%= link_to trip.title, change_current_trip_path(trip.id) %></button>
<% end %>


<% if !@user.cities_visited.nil? %>
<h3>Cities Visited</h3>
<ul>
<% @user.cities_visited.each do |city|%>
<li><%=city%></li>
<%end%>
</ul>
<%end%>

<% if !@user.countries_visited.nil? %>
<h3>Countries Visited</h3>
<ul>
<% @user.countries_visited.each do |country|%>
<li><%=country%></li>
<%end%>
</ul>
<%end%>

<% if @user.most_common_packed_items.length > 2 %>
<h3> Here are your most packed items!</h3>
<ul>
<%@user.most_common_packed_items.each do |item| %>
<li><%=item%></li>
<%end%>
</ul>
<% end %>