<div class="row">
<div class="col-md-6">
<p>
Most Popular Destination(s): <br>
<% @most_popular_destinations.each do |destination| %>
<%= link_to(destination.city, destination_path(destination)) %> || Total trips: <%= @destinations.total_trips_to(destination.city) %>
<br>
<% end %>
</p>

<% if @avg_guest_amount > 0 %>
<p>
Average guests per a trip <%= @avg_guest_amount %>.
<% end %>

</p>
<% if @thirties > 0 %>
<p> 
  Average budget for people born bw 1930 and 1939: $<%= @thirties %>.
 <% end %> 
</p>

<% if @forties > 0 %>
<p>
Average budget for people born bw 1940 and 1949: $<%= @forties %>.
<% end %>
</p>

<% if @fifties > 0 %>
<p>
Average budget for people born bw 1950 and 1959: $<%= @fifties %>.
<% end %>
</p>

<% if @sixties > 0 %>
<p>
Average budget for people born bw 1960 and 1969: $<%= @sixties %>.
<% end %>
</p>

<% if @seventies > 0 %>
<p>
Average budget for people born bw 1970 and 1979: $<%= @seventies %>.
<% end %>
</p>

<% if @eighties > 0 %>
Average budget for people born bw 1980 and 1989: $<%= @eighties %>.
<% end %>


<% if @nineties > 0 %>
<p>
Average budget for people born bw 1990 and 1999: $<%= @nineties %>.
<% end %>
</p>

</div>
<div class="col-md-6">
Cities + Trips Planned: <br>
<% @city_and_visits.sort.each do |city|  %>
  <%= city %>
  <br>
<% end %>
</div>


</div>
