<h1><%= @destination.city %>
  <% if current_user %> 
    <% if current_user.current_trip %>
      <button id="destination-<%=@destination.id%>" class='add-destination-btn' style="margin-bottom"> <span class="glyphicon glyphicon-plane"></span> </button>
    <% else %>
      <button class='add-destination-btn'><%= link_to "Plan a trip today!", new_trip_path %></button>
    <% end %>
  <% end %>
 </h1>  

<div class="activities-by-destination">
  <h3>Restaurants</h3>
    <ul>
      <% @restaurants.each do |restaurant| %>
        <li id="restaurant-<%=restaurant.id%>"> 
          <button id="destination-<%=@destination.id%>" class='add-activity-btn'> + </button>
          <%= link_to restaurant.name, restaurant.link, :target => '_blank' %></li>
      <% end %>
    </ul>
</div>

<div class="activities-by-destination">
  <h3>Music</h3>
    <ul>
      <% @music_activities.each do |music| %>
        <li id="music-<%=music.id%>"> 
          <button id="destination-<%=@destination.id%>" class='add-activity-btn'> + </button>
          <%= link_to music.name, music.link, :target => '_blank' %></li>
      <% end %>
    </ul>
</div>
<div class="activities-by-destination">
  <h3>Active</h3>
    <ul>
      <% @active_activities.each do |active| %>
        <li id="active-<%=active.id%>"> 
          <button id="destination-<%=@destination.id%>" class='add-activity-btn'> + </button>
          <%= link_to active.name, active.link, :target => '_blank' %></li> 
      <% end %>
    </ul>
</div>
<div class="activities-by-destination">
  <h3>Cultural</h3>
    <ul>
      <% @cultural_activities.each do |cultural| %>
        <li id="cultural-<%=cultural.id%>">
          <button id="destination-<%=@destination.id%>" class='add-activity-btn'> + </button>
          <%= link_to cultural.name, cultural.link, :target => '_blank' %></li>
      <% end %>
    </ul>
</div>
<div class="activities-by-destination">
  <h3>Shopping</h3>
    <ul>
      <% @shopping_activities.each do |shopping| %>
        <li id="shopping-<%=shopping.id%>">
          <button id="destination-<%=@destination.id%>" class='add-activity-btn'> + </button>
          <%= link_to shopping.name, shopping.link, :target => '_blank' %></li>
      <% end %>
    </ul>
</div>
<div class="activities-by-destination">
  <h3>Spa/Fitness</h3>
    <ul>
      <% @spa_fitness_activities.each do |spa_fitness| %>
        <li id="spa_fitness-<%=spa_fitness.id%>">
          <button id="destination-<%=@destination.id%>" class='add-activity-btn'> + </button>
          <%= link_to spa_fitness.name, spa_fitness.link, :target => '_blank' %></li>
      <% end %>
    </ul>
</div><br>