<h2>ahh... the lovely <%= @destination.city %></h2>

<div class="activities-by-destination">
  <h3>Restaurants</h3>
    <ul>
      <% @restaurants.each do |restaurant| %>
        <li> <%= link_to restaurant.name, restaurant.link %></li>
      <% end %>
    </ul>
</div>

<div class="activities-by-destination">
  <h3>Music</h3>
    <ul>
      <% @music_activities.each do |music| %>
        <li> <%= link_to music.name, music.link %></li>
      <% end %>
    </ul>
</div>

<div class="activities-by-destination">
  <h3>Active</h3>
    <ul>
      <% @active_activities.each do |active| %>
        <li> <%= link_to active.name, active.link %></li>
      <% end %>
    </ul>
</div>

<div class="activities-by-destination">
  <h3>Spa/Fitness</h3>
    <ul>
      <% @spa_fitness_activities.each do |spa_fitness| %>
        <li> <%= link_to spa_fitness.name, spa_fitness.link %></li>
      <% end %>
    </ul>
</div>

<div class="activities-by-destination">
  <h3>Shopping</h3>
    <ul>
      <% @shopping_activities.each do |shopping| %>
        <li> <%= link_to shopping.name, shopping.link %></li>
      <% end %>
    </ul>
</div>



<!--  <table>
  <tr>
    <th><h3>Restaurants </h3></th>
    <th><h3>Shopping</h3></th>
    <th><h3>Active</h3></th>
    <th><h3>Spa/Fitness</h3></th>
    <th><h3>Music</h3></th>
   </tr>

   <% @restaurants.each do |restaurant| %>
    <% @shopping_activities.each do |store| %>
      <% @active_activities.each do |active| %>
        <% @spa_fitness_activities.each do |spa_fitness| %>
          <% @music_activities.each do |music| %>

          <tr>
            <td><%= link_to restaurant.name, restaurant.link %></td>
            <td><%= link_to store.name, store.link %></td>
            <td><%= link_to active.name, active.link %></td>
            <td><%= link_to spa_fitness.name, spa_fitness.link %></td>
            <td><%= link_to music.name, music.link %></td>
          </tr>

          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>



</table> -->
