<h1><%= @destination.city %>
  <form action="/destinations/<%= @destination.id%>/add_destination" method="GET">
    <% if current_user && current_user.current_trip %>
        <% if !current_user.current_trip.destinations.include?(@destination)%>
          <button type="submit" id="toggle-destination"class='add-destination-btn' style="margin-bottom"> <span class="glyphicon glyphicon-plane"></span> </button>
          <input type="hidden" id="destination_id" name='destination_id' value='<%=@destination.id%>'>
        <%elsif current_user.current_trip.destinations.include?(@destination)%>
          <button type="submit" id="toggle-destination"class='remove-trip-destination-btn' style="margin-bottom"> <span class="glyphicon glyphicon-plane"></span> </button>
          <input type="hidden" id="destination_id" name='destination_id' value='<%=@destination.id%>'>
      <% else %>
      <button class='add-destination-btn'><%= link_to "Plan a trip today!", new_trip_path %></button>
     <% end %>
   <% end %>
  </form>
</h1> 

<% @all_activities.each do |activity_array| %> 
<div class="activities-by-destination">
  <h3><%=activity_array.first.categories.first.name%></h3>
    <ul>
    <%activity_array.each do |activity|%>
        <li id="destination-<%=@destination.id%>"> 
          <% if current_user && current_user.current_trip %>
          <% if !current_user.current_trip.destinations.include?(@destination) %>
            <button id="activity-<%=activity.id%>" class="destination-add-activity"> + </button>
          <%end%><%end%>
          <% if current_user && current_user.current_trip %>
          <% if current_user.current_trip.destinations.include?(@destination) && !current_user.current_trip.activities.include?(activity) %>
            <button  id="activity-<%=activity.id%>" class='add-activity-btn'> + </button>
          <%elsif current_user.current_trip.destinations.include?(@destination) && current_user.current_trip.activities.include?(activity) %>
            <button id="activity-<%=activity.id%>" class="remove-activity-destination-btn"> X </button>
          <% end %><%end%>
          <%= link_to activity.name, activity.link, :target => '_blank' %>
        </li>      
      <%end%>
    </ul>
</div>
<% end %>