<!DOCTYPE html>
<html>
<head>
  <title>Trippd</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
  <div class="navbar">
    
    <ul>
    <% if current_user %>
      <li>Logged in as <%= current_user.first_name %></li>
      <li><%= link_to "Log Out", logout_path %></li>
    <% else %>
      <li><%= link_to "Sign Up", signup_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    <% end %>
      <li><%= link_to "View Trips", trips_path%></li>
      <li><%= link_to "Browse Destinations", destinations_path%></li>
    </ul>

    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
 
  <% end %>
  </div>
<!-- our nav bar -->
<div class="container">
<%= yield %>
</div>

<!-- our footer -->

</body>
</html>
